$green-wed: #456D62;
$green-wed-2: #4E937E;
$grey-wed: #E8E8E8;
$gray-wed: #686868;
$gray-wed-1: #686868;
$gray-wed-2: #5C5E5B;
$brown-wed: #AD7961;
$yellow-wed: #FFC700;
$yellow-wed-1: #f5d04b;
$gold-wed: #ffeab6;
$black-wed: #1F1D1B;
